@using TestApp.Models.ViewModels;
@model PaginatedList<TestApp.Models.TestModels.Quiz>
@{
    ViewData["Title"] = "Quizzes Page";
}

<table class="table">
    <div>
        @foreach (var item in Model)
        {
            <li>
                @item.Title
                @Html.ActionLink("Start", "Test", "Test", new { id = @item.Id })
            </li>
        }
    </div>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Quizzes"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-dark @prevDisabled">
    Previous
</a>
<a asp-action="Quizzes"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-dark @nextDisabled">
    Next
</a>